﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Reg.ascx.cs" Inherits="nilnul._acc_._WEB_.Reg" %>
   <form action="/nilnul._acc_._API_/api/Reg" method="post"  >
        <input type="text" name="name"/>
        <input type="password" name="pass" />
        <input type="submit" value="Register" />
    </form>
