﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="nilnul._acc_._WEB_.reg.WebForm1" %>

<%@ Register Src="~/Reg.ascx" TagPrefix="uc1" TagName="Reg" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
	<uc1:Reg runat="server" id="Reg" />

</body>
</html>
