﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="nilnul._acc_._WEB_.logon.WebForm1" %>

<%@ Register Src="~/Logon.ascx" TagPrefix="uc1" TagName="Logon" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Logon</title>
</head>
<body>
	<uc1:Logon runat="server" id="Logon" />
</body>
</html>
